.table-container {
    /*height: 100vh;*/
    padding: 10px 80px;
    overflow: auto;
}

table,
th,
td {
    border: 1px solid #eee;
    border-collapse: collapse;
}

th,
td {
    padding: 15px 20px;
}

table {
    border-spacing: 5px;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #607d8b;
    color: white;
    letter-spacing: 2px;
}

td {
    font-weight: 200;
}

.side-note {
    text-align: center;
    padding-top: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #e91e63;
}

a:hover {
    color: #4caf50;
}