.app {
    height: 550px;
    width: 400px;
    background: #dfdfdf;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.app img {
    width: 100%;
    position: absolute;
    top: 0px;
    display: block;
}

.app .player-car {
    position: absolute;
    bottom: 15px;
    transform: translateX(-50%);
    transition-property: left, transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.welcome-screen {
    background-color: aliceblue;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.instructions-list {
    margin-top: 40px;
    padding-bottom: 40px;
}

.instructions-list-item {
    margin-top: 12px;
}

.app .enemy-car {
    position: absolute;
    transform: translateX(-50%);
}

.hide {
    display: none;
}

.car-game-2d {
    position: relative;
}

.welcome-heading {
    padding-top: 30px;
    margin-bottom: 20px;
}

#start-button {
    padding: 15px 40px;
    margin-left: 47%;
    margin-top: 20px;
    font-size: 30px;
    border: none;
    background-color: rgb(218 120 202 / 63%);
    color: #315233;
}

#start-button:hover {
    cursor: pointer;
    background-color: #8ebf7a;
}