.app {
    /*width: 40%;*/
    height: 550px;
    width: 400px;
    background: #dfdfdf;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    /*background-image: url('images/highway-low.jpg');*/
}

.app img {
    width: 100%;
    position: absolute;
    top: 0px;
    display: block;
}

.app .player-car {
    position: absolute;
    bottom: 15px;
    /*left: 50%;*/
    transform: translateX(-50%);
    transition-property: left, transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.app .enemy-car {
    position: absolute;
    transform: translateX(-50%);
}

.hide {
    display: none;
}

.car-game-2d {
    position: relative;
}