.header-container {
    width: 70%;
    margin: 0 auto;
}

.header-logo {
    padding-top: 20px;
    padding-bottom: 8px;
    width: 150px;
    height: auto;
}

.left {
    float: left;
}

.function-types-ul {
    width: 70%;
    margin: 30px auto;
}

.function-type-li {
    margin: 40px 60px;
    padding: 25px 40px;
}