body {
    background-color: #fff;
}

header {
    background-color: #f5f5f5;
}

.function-type-li {
    font-family: "Questrial", sans-serif;
    font-size: 25px;
    background-color: #1c1105;
    color: #ffffff;
    border: none;
}

.plotHeading {
    font-family: "EB Garamond", serif;
    margin-left: 20%;
    font-size: 30px;
}