* {
    padding: 0 px;
    margin: 0 px;
}

#main-container {
    width: 800px;
    height: 500px;
    border: solid 3px red;
    margin: auto;
    position: relative;
}

.ball {
    position: absolute;
}