html {
    font-size: 10px;
}

body {
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

li {
    list-style: none;
}