/*------------->header<------------------*/

.header-top {
    background-color: #dfdfdf;
}

.header-bottom-wrapper {
    background-color: black;
}

.btn {
    width: 13em;
    min-height: 4em;
    background-color: #1c1105;
    color: #ffffff;
    font-size: 1em;
    border: none;
    font-family: "Lato - Regular", sans-serif;
    font-weight: 400;
}

.more-details-btn span {
    font-family: "Lato- Bold ", sans-serif;
    font-weight: 700;
}

.nav-items {
    color: #ffffff;
    font-family: "Lato - Regular", sans-serif;
    font-weight: 400;
    font-size: 1em;
    font-weight: 700;
}

.nav-items:hover {
    color: #fac012;
    cursor: pointer;
}

.nav-items:hover::after {
    margin-left: 0.3rem;
    content: url("../images/hover_arrow.png");
}

.featured-products-top-container {
    border-bottom: 2px solid black;
}

p.header-cart {
    color: #1c1105;
    font-family: Lato;
    font-size: 2.5em;
}

p.header-cart span {
    font-size: 0.35em;
}

.featured-products-container {
    border: 0.5em solid #fac012;
}

.featured-products-top-container {
    border-bottom: 2px solid black;
}

.featured-products-desc-bottom {
    color: #1c1105;
    font-family: "Lato - Regular", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.featured-products-heading {
    color: #1c1105;
    font-family: "Lato", sans-serif;
    font-size: 2em;
    font-weight: 400;
}

.featured-products-desc-top {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 700;
}


/*------------->Featured Products Section<------------------*/

.featured-products-content-heading {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #1c1105;
}

.featured-products-content {
    background-color: #f4f4f4;
}

.featured-products-inner-div {
    background-color: #f4f4f4;
    border-left: 0.4rem solid #ffffff;
    border-top: 0.4rem solid #ffffff;
}

.featured-products-hr {
    height: 0.2em;
    border-width: 0;
    background-color: #f7f7f7;
}

.featured-product-left-arrow:hover,
.featured-product-right-arrow:hover {
    cursor: pointer;
}


/*------------->Latest Furniture Section<------------------*/

.latest-furniture-heading {
    color: #1c1105;
    font-family: "Lato", sans-serif;
    font-size: 2em;
    font-weight: 400;
}

.latest-furniture-hr {
    height: 2px;
    color: #e7e7e7;
    border-width: 0;
    background-color: #e7e7e7;
}

.latest-furniture-box-tag {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding: 0.7em 0.9em;
    color: #ffffff;
}

.latest-furniture-box {
    border: 1px solid #f4f4f4;
}

.latest-furniture-box-heading {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #1c1105;
}

.latest-furniture-box-content {
    color: #9c9c9c;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
}

.latest-furniture-box-price {
    color: #fac012;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 4em;
}

.promo {
    background-color: #1c1105;
}

.new {
    background-color: #fac012;
}

.latest-furniture-cart {
    background-color: #fac012;
    cursor: pointer;
}

.add-to-cart {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #ffffff;
}


/*------------->Why Choose Youniverse Section<------------------*/

.why-choose-youniverse {
    background-color: #010101;
    color: #ffffff;
}

.why-choose-heading {
    font-family: "Lato", sans-serif;
    font-size: 2em;
    font-weight: 400;
}

.why-choose-horizontal-line {
    color: #fac012;
    border-width: 0;
    background-color: #fac012;
}

.why-choose-para-top,
.why-choose-para-bottom {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 2em;
}

.why-choose-nav {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 2em;
    border: 1px solid white;
}

.why-choose-nav:hover {
    background-color: #fac012;
    cursor: pointer;
}

.why-choose-nav:hover .nav-arrow {
    display: none;
}

.why-choose-nav:hover h4::after {
    content: url("../images/why-nav-hover.png");
    position: absolute;
    left: 100%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*------------->Latest Posts Section<------------------*/

.latest-posts {
    font-family: "Lato", sans-serif;
    color: #1c1105;
    font-weight: 400;
}

.latest-posts-heading {
    font-family: "Lato", sans-serif;
    font-size: 2em;
}

.latest-posts-hr {
    height: 2px;
    color: #e7e7e7;
    border-width: 0;
    background-color: #e7e7e7;
}

.latest-post-box-top-block {
    background-color: #f6f6f6;
}

.date {
    font-size: 1.8em;
}

.date-block {
    border: 2px solid #f4f4f4;
}

.month {
    font-size: 1em;
    font-weight: 700;
}

.post-heading {
    font-size: 1.5em;
    font-weight: 700;
}

.post-info-items {
    font-family: Lato;
    font-size: 1.1em;
    color: #9c9c9c;
}

.post-info-items span {
    color: #fac012;
}

.post-comments {
    color: #fac012;
}

.post-comments:hover,
.post-info-items span:hover {
    cursor: pointer;
}

.post-details {
    color: #9c9c9c;
    font-size: 1.3em;
}

.latest-post-box-top-block:hover {
    background-color: #fac012;
    cursor: pointer;
}

.latest-post-box-top-block:hover .post-box-hover {
    display: initial;
}


/*------------->Get our discounts Section<------------------*/

.get-our-discounts {
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 400;
}

.get-discounts-heading {
    font-size: 1.8em;
    font-weight: 700;
}

.get-discounts-hr {
    height: 2px;
    color: #ffffff;
    border-width: 0;
    background-color: #ffffff;
}

.get-discounts-desc {
    font-size: 1.3em;
}

.discounts-input {
    border: 1px solid #ffffff;
    background-color: black;
    color: #ffffff;
}

.discounts-input::placeholder {
    font-family: "Lato", sans-serif;
    font-size: 0.7em;
    color: #ffffff;
    text-align: center;
}

.subscribe-btn-wrapper:hover {
    cursor: pointer;
}

.subscribe-btn {
    background-color: #ffffff;
    color: black;
    padding: 0.6em 2em;
    border: none;
    text-align: center;
}